* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {background-color: rgb(84, 171, 179);
    font-family: 'Roboto', sans-serif;}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline-block;
}

section, footer, header {
    padding: 1rem;
}

p {
    margin: 0.5rem 0;
}